<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004751037792-t838oi80dqvth7r4hgtmf8rlgsmbuo0q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004751037792-t838oi80dqvth7r4hgtmf8rlgsmbuo0q</string>
	<key>API_KEY</key>
	<string>AIzaSyAcAV2DLycdcm9nj24rJtBZmKPgSaDwWTg</string>
	<key>GCM_SENDER_ID</key>
	<string>1004751037792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vtymch.itReact</string>
	<key>PROJECT_ID</key>
	<string>messageflow-5c492</string>
	<key>STORAGE_BUCKET</key>
	<string>messageflow-5c492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004751037792:ios:5ae5b10c293fe04b64ea05</string>
</dict>
</plist>